.tools {
  height: 30px;
  text-align: left;
  border-top: solid 1px #111111;
}

.btn {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 0 1em;
  border-radius: 10px;
  border: solid 1px #dddddd;
  margin-left: 1em;
  cursor: default;
}

.btn:hover {
  color: #1d1d1b;
  text-shadow: 1px 1px 2px red;
  background-image: linear-gradient(90deg, wheat, #999999 50%, wheat);
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

th, td {
  line-height: 2em;
  text-align: center;
}

th {
  font-size: 1.3em;
  font-weight: 900;
  background-color: #cac5ff;
}

td {
  font-size: 1em;
}

tr:nth-child(odd) > td {
  background-color: #cdffd2;
}

tr:nth-child(even) > td {
  background-color: #edffd5;
}

.editor-mask {
  position: fixed;
  z-index: 5000;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

.editor {
  position: fixed;
  z-index: 5001;

  min-width: 200px;

  top: 50%;
  left: calc(50% - 100px);

  padding: 10px;
  border-radius: 10px;
  border: solid 1px #111111;
  box-shadow: 0 0 5px #010101;
  background-color: whitesmoke;
}

.editor input {
  outline: none;
  line-height: 16px;
}

.editor input:focus {
  box-shadow: 0 0 5px black;
}

.combo-mask {
  position: fixed;
  z-index: 6000;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

ul.combo {
  list-style: none;

  position: fixed;
  z-index: 6001;

  top: 50%;
  left: calc(50% - 100px);

  padding: 10px;
  border-radius: 10px;
  border: solid 1px #111111;
  box-shadow: 0 0 5px #010101;
  background-color: whitesmoke;
}

ul.combo > li {
  width: 200px;

  cursor: default;
}

ul.combo > li:hover {
  background-color: #dddddd;
}
