<h1 class="title">
  <i></i>{{title}}
</h1>

<hr>

<div class="v-mid-box">
  <div class="box">
    <file-browser *ngIf="sources !== null" [data]="sources" [editable]="false"></file-browser>
  </div>

  <div class="btn" (click)="addToResource()">添加</div>

  <div class="box">
    <file-browser *ngIf="resources !== null" [data]="resources" [editable]="true" (reloadEvent)="reload($event)"
                  [rootEvent]="rootEventMsg" (unselectEvent)="unselect()"></file-browser>
  </div>
</div>

<hr>

<smart-table [template]="resourceLevelTemplate"></smart-table>

<hr>

<smart-table [template]="resourceLevelMapTemplate"></smart-table>
