.outer {
  background-color: #dddddd;

  cursor: default;

  text-align: left;

  overflow: hidden;
}

.outer:first-child {
  border-top: solid 1px rgb(128, 128, 128);
}

.outer > .line {
  height: 20px;
  font-family: Monaco, monospace;
  font-size: 10px;
}

.outer > .line.selected {
  background-color: #233d4d;
  color: #ffee00;
}

.outer > .line > span {
  line-height: 20px;
}

.outer > .line:hover {
  background-color: white;
}

.inner {
  margin-left: 20px;
}
